.app-subtitle{
color:violet;
}

.content {
  font-weight: bold; color:blue;
    text-align: center;
    font-size: 30px;
    justify-items: center;
    background-size: contain;
}
.btn btn-primary{
  color: red;
  font-size: 40px;
  border-radius: 10px;
  text-align: center;
}

.app-title{
  text-align: center;

}