.hide {
    display: none;
  }
.sub-header {
float: right;
}
.content {
  border: 5mm;
   content: initial;
    text-align: center;
    outline-style: solid;
    background-origin: sizing 20px;
    justify-items: center;
}